* {
  font-family: 'Oleo Script', cursive;
}

body{
  background-color: burlywood;
  margin: 0%;
  color: white;
}

body::-webkit-scrollbar,
.comments::-webkit-scrollbar {
  width: 11px;
}
body, .comments {
  scrollbar-width: thin;
  scrollbar-color:burlywood darkgoldenrod;
}
body::-webkit-scrollbar-track, 
.comments::-webkit-scrollbar-track {
  background:burlywood;
}
body::-webkit-scrollbar-thumb,
.comments::-webkit-scrollbar-thumb {
  background-color: rgb(184, 134, 11, 0.3) ;
  border-radius: 6px;
}

body::-webkit-scrollbar-corner {
  background-color: burlywood;
  }

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.comment-container {
  display: flex;
  margin: 10px;
}

.delete-button {
  margin-left: 15px;
}

.error {
  margin-top: 20px;
  color: red;
}
#cat-container{
  width: 500px;
  height: 550px;
  border: 5px solide grey;
  border-radius: 1%;
  background-color: white;
  box-shadow: 2px 3px #888888; */
  /* display:  */
}

.cat-pic {
  margin: 10px;
  width: 480px;
  max-height: 530px;
  border-radius: 3%;
  opacity: .8;
}

.score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score-display {
  margin-bottom: 10px;
}

.comment-form {
  margin: 20px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.user-comment-container {
  margin-right: 10px;
  display: flex;
  flex-wrap: wrap;
}

#comment-label {
  border: none;
}

.btn {
  padding: 5em, 1em;
  font-size: 1.5rem;
  border:2px solid rgb(184, 134, 11, 0.7);
  border-radius: 8%;

}
.btn:hover {
background: rgb(218, 165, 32, 0.1);
letter-spacing: 1px;
-webkit-box-shadow: 0px 5px 40px -10px rgba(106, 103, 103, 0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(106, 103, 103, 0.57);
box-shadow: 5px 40px -10px rgba(106, 103, 103, 0.57);
transition: all 0.4s ease 0s;
cursor: pointer;
}

.btn:focus {
  outline: none;
}
.btn:active {
  background-color: darkgoldenrod;
}

#cc{
  margin: 0;
  padding: 0;
  border-radius: 1%;
}

.user-comment {
  padding: 5px;
}

.comments {
  border-radius: 7%;
  border:3px solid rgb(184, 134, 11, 0.3) ;
  height: 300px;
  width: 80%;
  margin: 10px;
  padding: 5px;
  overflow: scroll;
  background-color:rgb(184, 134, 11, 0.3);
  overflow-x: hidden;
}

.comments::-webkit-scrollbar-corner {
  background-color: burlywood;
  }

#cat-stand {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  align-items: flex-end;
  z-index: 5;
  width: 100%;
  height: 300px;
  opacity: .2;


}

#title {
  z-index: 5;
  color: white;
  font-size: xx-large;
  /* align-content: center; */
  position: relative;
  top: 10px;
}

#burger{
  align-self: center;
  margin-right: 15px;

}

#home-icon {
  justify-items: start;
  align-self: center;
  margin-left: 15px;
}

.nav-bar {
  display: flex;
  width: 100%;
  height: 75px;
  background-color:rgb(184, 134, 11, 0.5);
  justify-content: space-between;
  align-content: center;
}

#upvote::before {
  content: "😸 "
}
#downvote::after {
  content: " 😿"
}

.foot {
  display: flex;
  align-self: flex-end;
  width: 100%;
  height: 50px;
  background-color: darkgoldenrod;
  opacity: .5;
  justify-content: center;
  align-items: center;
}